[Unit]
Description=Raspberry Pi Modem UDP Services
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/python3 '/opt/ElectricPi/ElectricPop/modem_udp.py'
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
