[Unit]
Description=Pi MQTT Client Services
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/opt/ElectricPi/venv/bin/python3 '/opt/ElectricPi/ElectricPop/mqtt-cli.py'
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
