[Unit]
Description=Modem Web Services
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/opt/ElectricPi/venv/bin/python3 '/opt/ElectricPi/ElectricPop/pm_web.py'
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
