[Unit]
Description=Pi UDP Client Services
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/python3 '/opt/ElectricPi/ElectricPop/UDPClient.py'
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
